@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header {
    background-color: #004080; /* blue-900 */
    color: #FFFFFF;
    padding: 10px 20px; /* py-4 px-8 */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    margin-right: auto; /* Push the logo to the left */
    text-decoration: none; /* Remove underline from link */
}

.header-logo img {
    width: 60px; /* w-10 */
    height: 53.53px; /* h-10 */
    margin-right: 20px; /* Increased margin-right to add more spacing */
}

.header-logo h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px; /* text-2xl */
    font-weight: bold;
    color: #FFFFFF;
}

.header-nav {
    display: flex;
    gap: 40px;
    margin-right: auto; /* Push the navigation to the center */
}

.header-nav a {
    font-family: 'Poppins', sans-serif;
    font-size: 18px; /* text-lg */
    color: #FFFFFF;
    text-decoration: none;
}

.header-nav a:hover {
    text-decoration: underline;
}
